<app-question1></app-question1>
<hr>
<app-question4></app-question4>

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->
<!-- <app-comp3></app-comp3>
<app-comp4></app-comp4>
<app-center></app-center> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="comp1">
                <app-comp1></app-comp1>
            </div>
        </div>
        <div class="comp2">
            <div class="col-md-6">
                <app-comp2></app-comp2>
            </div>
        </div>
    </div>
    <div class="center">
        <app-center></app-center>
    </div>
</div> -->